.footerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-MQt8PrCmhx0P);
  min-width: 0;
  padding: 12px 8px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  padding: 4px 0px;
}
.columns__uC1A {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px 0px 0em;
}
.columns__uC1A > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__uC1A > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__uC1A > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uC1A {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uC1A > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__a0XcF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__a0XcF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.column__a0XcF > :global(.__wab_flex-container) > *,
.column__a0XcF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__a0XcF > :global(.__wab_flex-container) > picture > img,
.column__a0XcF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__yFdn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Playfair Display SC", serif;
  font-size: 22px;
  color: var(--token-T_v5CMxbJSmu);
  text-align: center;
  margin-bottom: 8px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  background: none;
  font-weight: 500;
  width: auto;
  border: 1px solid var(--token-MQt8PrCmhx0P);
}
@media (min-width: 0px) and (max-width: 768px) {
  .button:global(.__wab_instance) {
    background: var(--token-MQt8PrCmhx0P);
    border: 1px solid var(--token-MQt8PrCmhx0P);
  }
}
.text__aPzDy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-3mCwTaeNipOV);
  font-weight: 500;
  min-width: 0;
}
.freeBox__mJ5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 4px) !important;
  margin-bottom: 4px;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mJ5 {
    margin-top: calc(0px + 4px) !important;
  }
}
.text__h5GKs {
  color: var(--token-S3l4SA2Ld2X0);
  padding-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.emailAddressText {
  color: var(--token-Gsg_nXB6YK5A);
  padding-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .emailAddressText {
    font-size: 14px;
    font-weight: 500;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qjxGl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: auto;
}
.text__xmtFn {
  text-align: center;
  color: var(--token-7HpDdqXawcwS);
  font-family: var(--token-72o1db02QaRB);
}
.text__jFkXy {
  color: var(--token-S3l4SA2Ld2X0);
  padding-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: calc(4px + 4px) !important;
  margin-bottom: 8px;
}
.freeBox__igy4E {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__igy4E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__igy4E > :global(.__wab_flex-container) > *,
.freeBox__igy4E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__igy4E > :global(.__wab_flex-container) > picture > img,
.freeBox__igy4E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.instagramIcon {
  object-fit: cover;
  width: 26px;
  height: 26px;
  color: var(--token-kAfA8uy7ZFai);
  flex-shrink: 0;
}
.pinterestIcon2 {
  object-fit: cover;
  width: 26px;
  height: 26px;
  color: var(--token-kAfA8uy7ZFai);
  flex-shrink: 0;
}
.pinterestIcon {
  object-fit: cover;
  width: 26px;
  height: 26px;
  color: var(--token-kAfA8uy7ZFai);
  flex-shrink: 0;
}
.twitterIcon {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-kAfA8uy7ZFai);
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: calc(1px + 16px) !important;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .twitterIcon {
    margin-left: calc(1px + 16px) !important;
  }
}
.column__qxxG4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__qxxG4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.column__qxxG4 > :global(.__wab_flex-container) > *,
.column__qxxG4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__qxxG4 > :global(.__wab_flex-container) > picture > img,
.column__qxxG4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qxxG4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qxxG4 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qxxG4 > :global(.__wab_flex-container) > *,
  .column__qxxG4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__qxxG4 > :global(.__wab_flex-container) > picture > img,
  .column__qxxG4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.text__kBnWi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Playfair Display SC", serif;
  font-size: 22px;
  color: var(--token-T_v5CMxbJSmu);
  text-align: center;
  margin-bottom: 8px;
  min-width: 0;
}
.homePage {
  position: relative;
  color: var(--token-3mCwTaeNipOV);
  font-size: 16px;
  margin-top: calc(0px + 6px) !important;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  align-self: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .homePage {
    margin-top: calc(0px + 4px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: calc(0px + 0px) !important;
  }
}
.membershipsPage {
  position: relative;
  color: var(--token-3mCwTaeNipOV);
  font-size: 16px;
  margin-top: calc(0px + 6px) !important;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  align-self: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .membershipsPage {
    margin-top: calc(0px + 4px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    color: var(--token-3mCwTaeNipOV);
  }
}
.schedulePage {
  position: relative;
  color: var(--token-3mCwTaeNipOV);
  font-size: 16px;
  margin-top: calc(0px + 6px) !important;
  margin-right: 0px;
  margin-left: 0px;
  align-self: auto;
  margin-bottom: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .schedulePage {
    margin-top: calc(0px + 4px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    color: var(--token-3mCwTaeNipOV);
  }
}
.privatesPage {
  position: relative;
  color: var(--token-3mCwTaeNipOV);
  font-size: 16px;
  margin-top: calc(0px + 6px) !important;
  margin-right: 0px;
  margin-left: 0px;
  align-self: auto;
  margin-bottom: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .privatesPage {
    margin-top: calc(0px + 4px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    color: var(--token-3mCwTaeNipOV);
  }
}
.aboutUsPage {
  position: relative;
  color: var(--token-3mCwTaeNipOV);
  font-size: 16px;
  margin-top: calc(0px + 6px) !important;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  align-self: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aboutUsPage {
    margin-top: calc(0px + 4px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    color: var(--token-3mCwTaeNipOV);
  }
}
.contactPage {
  position: relative;
  color: var(--token-3mCwTaeNipOV);
  font-size: 16px;
  margin-top: calc(0px + 6px) !important;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  align-self: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contactPage {
    margin-top: calc(0px + 4px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: calc(0px + 0px) !important;
  }
}
.freeBox__xdPun {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 4px;
  margin-left: 4px;
  align-self: center;
  min-width: 0;
  padding: 8px 4px;
}
.privacyPolicyPage {
  position: relative;
  padding-top: 0px;
  font-size: 12px;
  color: var(--token-nSMnu5meEjYV);
  text-align: center;
  align-self: center;
}
.termsOfServicePage {
  position: relative;
  color: var(--token-nSMnu5meEjYV);
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  align-self: center;
}
.cookiesPolicyPage {
  position: relative;
  padding-top: 0px;
  font-size: 12px;
  color: var(--token-rSJ6w1MJng6w);
  text-align: center;
  font-weight: 400;
  align-self: center;
}
.column__oh6Bc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  border-left-style: solid;
  border-left-color: #ffffff;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oh6Bc {
    padding: 0px 8px;
  }
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 22px;
  color: var(--token-S3l4SA2Ld2X0);
  font-weight: 500;
  padding-bottom: 0px;
  font-family: "Playfair Display SC", serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5 {
    margin: 0px 0px 15px;
  }
}
.columns__rpJzJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: #ffffff;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-style: solid;
}
.columns__rpJzJ > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__rpJzJ > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rpJzJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rpJzJ > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rpJzJ > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__mmaqc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__olwDc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__olwDc > picture > img {
  object-fit: cover;
}
.column__qvKh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yQagK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__yQagK > picture > img {
  object-fit: cover;
}
.columns___8JNkK {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: #ffffff;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-style: solid;
}
.columns___8JNkK > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___8JNkK > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8JNkK {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8JNkK > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8JNkK > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__ohOVz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__qlnwt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__qlnwt > picture > img {
  object-fit: cover;
}
.column__w7Dk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__vHrY6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__vHrY6 > picture > img {
  object-fit: cover;
}
